<!--<h1>Multi Live Video</h1>

<h2>Multi-User Video Chat with WebRTC via SimpleWebRTC.js</h2>

<div class="row">
    <div class="col-12">
        <form id="createRoom">
            <input type="text" id="sessionInput">
            <button type="submit">Create Room</button>
        </form>
    
        <button id="screenShareButton"></button>
        <span id="subTitle">(https required for screenshare)</span>
        <div id="roomLink" style="font-size:18px; color:#f00"></div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">

        <video id="localVideo" width="180" sytle="margin-top:15px;"></video>

    </div>
    <div class="col-md-8">
        <div id="remoteVideos"></div>
    </div>
</div>-->

<!-- <button id="setup-new-room" style="display: none">Set up a class</button>
<div style="display: none" id="session">
    <table style="width: 100%;" id="rooms-list"></table>
    <span id="waiting-for-teacher-message">Waiting for teacher to start session</span>
    <div class="row">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-6">
            <video id="tutor-container"></video>
            <div id="tutor-container"></div>
        </div>
        <div class="col-sm-3">
            <video id="current-student-container" height="300" width="300"></video>
            <button type="button" class="btn btn-default mute" id="mute-button" (click)="toggleMic()" aria-label="Left Align">
                <span *ngIf="isMute" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                <span  *ngIf="!isMute" class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
            </button>

        </div>
    </div>
    <div class="video-list-container">
        <div id="students-container" style="overflow-x: scroll;"></div>
        <div id="waiting-for-student-message"><span>Waiting for students to join</span></div>
    </div>
</div> -->

<button id="setup-new-room">Setup New Conference</button>

<table style="width: 100%;" id="rooms-list"></table>
<div id="videos-container"></div>